In [1]:
import pandas as pd

In [2]:
import pandas as pd
data={
    "S.no":[0,1,2,3,4],
    "Name":["Eman","Ramna","Zainab","Maria","Laiba"],
    "Mobile":[343,453,234,123,334],
    "Gender":["F","F","F","F","F"],
    "Section":["A","C","A","C","A"]
}
#Load data into a Data Frame object:
df=pd.DataFrame(data)
print(df)

   S.no    Name  Mobile Gender Section
0     0    Eman     343      F       A
1     1   Ramna     453      F       C
2     2  Zainab     234      F       A
3     3   Maria     123      F       C
4     4   Laiba     334      F       A

In [3]:
import pandas as pd
data={
    "S.no":[0,1,2,3,4],
    "Name":["Eman","Ramna","Zainab","Maria","Laiba"],
    "Mobile":[343,453,234,123,334],
    "Gender":["F","F","F","F","F"],
    "Section":["A","C","A","C","A"]
}
#Load data into a Data Frame object:
df=pd.DataFrame(data)
print(df.loc[[0]])

   S.no  Name  Mobile Gender Section
0     0  Eman     343      F       A

In [4]:
import pandas as pd
data={
    "S.no":[0,1,2,3,4],
    "Name":["Eman","Ramna","Zainab","Maria","Laiba"],
    "Mobile":[343,453,234,123,334],
    "Gender":["F","F","F","F","F"],
    "Section":["A","C","A","C","A"]
}
#Load data into a Data Frame object:
df=pd.DataFrame(data)
print(df.loc[[0,1]])

   S.no   Name  Mobile Gender Section
0     0   Eman     343      F       A
1     1  Ramna     453      F       C