In [14]:
import pandas as pd

In [16]:
df=pd.read_csv('Lemonade.csv')
df.head(10)

         Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  01/01/2017     Sunday         27.0      2.00      15    0.3     10
1  02/01/2017     Monday         28.9      1.33      15    0.3     13
2  03/01/2017    Tuesday         34.5      1.33      27    0.3     15
3  04/01/2017  Wednesday         44.1      1.05      28    0.3     17
4  05/01/2017   Thursday         42.4      1.00      33    0.3     18
5  06/01/2017     Friday         25.3      1.54      23    0.3     11
6  07/01/2017   Saturday         32.9      1.54      19    0.3     13
7  08/01/2017     Sunday         37.5      1.18      28    0.3     15
8  09/01/2017     Monday         38.1      1.18      20    0.3     17
9  10/01/2017    Tuesday         43.4      1.05      33    0.3     18

In [17]:
df['Date']=pd.to_datetime(df['Date'])
df.set_index('Date',inplace=True)
print(df)

                  Day  Temperature  Rainfall  Flyers  Price  Sales
Date
2017-01-01     Sunday         27.0      2.00      15    0.3     10
2017-02-01     Monday         28.9      1.33      15    0.3     13
2017-03-01    Tuesday         34.5      1.33      27    0.3     15
2017-04-01  Wednesday         44.1      1.05      28    0.3     17
2017-05-01   Thursday         42.4      1.00      33    0.3     18
...               ...          ...       ...     ...    ...    ...
2017-12-27  Wednesday         42.7      1.00      33    0.3     19
2017-12-28   Thursday         37.8      1.25      32    0.3     16
2017-12-29     Friday         39.5      1.25      17    0.3     15
2017-12-30   Saturday         30.9      1.43      22    0.3     13
2017-12-31     Sunday         15.1      2.50       9    0.3      7

[365 rows x 6 columns]

In [18]:
sales=df['Sales'].values
sales[0]

10

In [19]:
Price=df['Price'].values
Price[0]

0.3

In [20]:
Flyers=df['Flyers'].values
Flyers[0]

15

In [21]:
Rainfall=df['Rainfall'].values
Rainfall[0]

2.0

In [22]:
Temperature=df['Temperature'].values
Temperature[0]

27.0

In [23]:
Day=df['Day'].values
Day[0]

'Sunday'