In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
data = {
  "area": ["medical","engineer" ],
  "doman": ["nursing", "computer"],
  "selary":[3000,5000],
  
    
    
  
}

#load data into a DataFrame object:
df = pd.DataFrame(data, index = ["1", "2"])

print(df)

       area     doman  selary
1   medical   nursing    3000
2  engineer  computer    5000

In [18]:
t=pd.pivot_table(df,values="selary",index=["area","doman"])

In [19]:
print(t)

                   selary
area     doman
engineer computer    5000
medical  nursing     3000

In [24]:
t=pd.pivot_table(df,values="selary",index=["area","doman"],aggfunc=np.mean)

In [26]:
print(t)

                   selary
area     doman
engineer computer    5000
medical  nursing     3000

In [32]:
data = {
  "Degree": ["master","phd" ],
  "Subject": ["medical", "computer secience"],
  "No_students":[25,30],
  
    
    
  
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   Degree            Subject  No_students
0  master            medical           25
1     phd  computer secience           30

In [33]:
s=pd.pivot_table(df,values="No_students",index=["Degree","Subject"],aggfunc=np.mean)

In [34]:
print(s)

                          No_students
Degree Subject
master medical                     25
phd    computer secience           30