In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
data = {
  "category": ["A","B","c" ],
  "items": ["123", "12","13"],
  "size":["Small","medum","Large"],
  "price" :[244,544,666],
    
    
  
}

#load data into a DataFrame object:
df = pd.DataFrame(data, index = ["1", "2", "3"])

print(df)

  category items   size  price
1        A   123  Small    244
2        B    12  medum    544
3        c    13  Large    666

In [62]:
t=pd.pivot_table(df,values='price',index=['category','items'],columns=['size'])

In [63]:
print(t)

size            Large  Small  medum
category items
A        123      NaN  244.0    NaN
B        12       NaN    NaN  544.0
c        13     666.0    NaN    NaN

In [64]:
t=pd.pivot_table(df,values='price',index=['category','items'],columns=['size'],aggfunc=np.sum)

In [65]:
print(t)

size            Large  Small  medum
category items
A        123      NaN  244.0    NaN
B        12       NaN    NaN  544.0
c        13     666.0    NaN    NaN

In [66]:
t=pd.pivot_table(df,values='price',index=['category','items'],columns=['size'],aggfunc=np.var)

In [67]:
print(t)

Empty DataFrame
Columns: []
Index: []

In [68]:
t=pd.pivot_table(df,values='price',index=['category','items'],columns=['size'],aggfunc=np.std)
print(t)

Empty DataFrame
Columns: []
Index: []

In [69]:
t=pd.pivot_table(df,values='price',index=['category','items'],columns=['size'],aggfunc=np.min)

In [70]:
print(t)

size            Large  Small  medum
category items
A        123      NaN  244.0    NaN
B        12       NaN    NaN  544.0
c        13     666.0    NaN    NaN

In [71]:
t=pd.pivot_table(df,values='price',index=['category','items'])

In [56]:
print(t)

                price
category items
A        123      244
B        12       544
c        13       666