In [45]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('Book.xlsx')
data

  Name  Score  Attempts
0    A    200         2
1    B    300         3
2    C    400         4
3    E    500         5
4    F    600         6

### Question 1: Find no of attempts greater than 2.

In [3]:
x = data.iloc[:, -1].values

In [6]:
g2count = 0
for _ in x:
    if _ > 2:
        g2count = g2count + 1

In [22]:
print("No of attempts greater than 2:", g2count)

No of attempts greater than 2: 4

### Qustion 2: Count no of rows in a dataset.

In [21]:
print("Total number of rows:", len(x))

Total number of rows: 5

### Question 3: Select row where score is above 200

In [35]:
data[data['Score'] > 200]

  Name  Score  Attempts
1    B    300         3
2    C    400         4
3    E    500         5
4    F    600         6

### Question 4: Change score in row 1

In [57]:
data['Score'][0] = 500

<ipython-input-57-2c553d619fb9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Score'][0] = 500

In [60]:
data.to_excel('Book2.xlsx')

### Question 5: Total number of attempts

In [51]:
print("Total number of attempts:", len(x))

Total number of attempts: 5

### Question 6: Find average of score.

In [39]:
scores = data.iloc[:, -2].values

In [59]:
sum(scores)/len(scores)

2300

In [47]:
np.average(scores)

400.0

###  Question 7: What is minimum & maximum score

In [48]:
scores.max()

600

In [49]:
scores.min()

200

In [73]:
data.at[0, "Score"] == 500

True

In [69]:
data

  Name  Score  Attempts  2
0    F    500         2  F
1    B    700         3  F
2    C    400         4  F
3    E    500         5  F
4    F    600         6  F

In [74]:
index = data.index
rows = len(index)

In [75]:
rows

5

In [76]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [83]:
data['Score'].max()

700

In [84]:
data['Score'].min()

400

In [82]:
data.Score.mean()

540.0